---
import ArrowUpRight from "@/icons/ArrowUpRight.astro";
import CSharpIcon from "@/icons/CSharpIcon.astro";
import CSSIcon from "@/icons/CSSIcon.astro";
import Github_SinBorde from "@/icons/Github_SinBorde.astro";
import HtmlIcon from "@/icons/HTMLIcon.astro";
import JavaScriptIcon from "@/icons/JavaScriptIcon.astro";
import NETIcon from "@/icons/NETIcon.astro";
import UnityIcon from "@/icons/UnityIcon.astro";
import AstroIcon from "@/icons/AstroIcon.astro";
import TailwindIcon from "@/icons/TailwindIcon.astro";


const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#e65100]/60",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0096dc]/60",
    icon: CSSIcon,
  },
  NET: {
    name: "ASP.NET",
    class: "bg-[#512bd4]/60",
    icon: NETIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7df1e]/60",
    icon: JavaScriptIcon,
  },
  Unity: {
    name: "Unity",
    class: "bg-[#808080]/60",
    icon: UnityIcon,
  },
  CSharp: {
    name: "C#",
    class: "bg-[#a179dc]/60",
    icon: CSharpIcon,
  },
   Astro: {
    name: "Astro",
    class: "bg-[#ff5d01]/50",
    icon: AstroIcon, // Asegúrate de tener AstroIcon importado
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#38bdf8]/60",
    icon: TailwindIcon, // Asegúrate de tener TailwindIcon importado
  },
};

const PROJECTS = [
  {
    title: "Pastelería Inbay TFG",
    description:
      "Desarrollo de un sitio web corporativo para una pastelería artesanal, con información sobre productos, servicios y contacto. Proyecto de fin de grado de DAW orientado a clientes reales.",
    link: "https://proyectopasteleriainbay.bsite.net/",
    github: "https://github.com/IviCracker/TFG_Pasteleria_Inbay",
    image: "src/components/images/ProjectInbay.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.NET, TAGS.JavaScript, TAGS.CSharp],
  },
  {
    title: "Traffic Simulator TFG",
    description:
      "Simulador de tráfico en formato videojuego, diseñado para ayudar a usuarios a familiarizarse con las normas de conducción. Desarrollado en Unity como proyecto de fin de grado de DAM.",
    link: "https://itch.io/dashboard",
    github: "https://github.com/IviCracker/Traffic_Simulator",
    image: "src/components/images/ProyectoTrafficSim.webp",
    tags: [TAGS.Unity, TAGS.CSharp],
  },
  {
    title: "Biblioteca League Of Legends",
    description:
      "Aplicación web que muestra información detallada de todos los campeones del juego utilizando una API externa. Proyecto enfocado al aprendizaje e integración de APIs REST.",
    link: "https://proyectopasteleriainbay.bsite.net/",
    github: "https://github.com/IviCracker/LeagueOfLegendsLibrary",
    image: "src/components/images/ProyectoBibliotecaLOL.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
  },
  {
  title: "Mi Portfolio",
  description:
    "Sitio web personal desarrollado con Astro y Tailwind CSS. Presenta proyectos destacados con un diseño responsive y optimizado para rendimiento. Enfocado en la experiencia de usuario y buenas prácticas de desarrollo frontend.",
  link: "https://tu-enlace.com",
  github: "https://github.com/IviCracker/MiPortfolio",
  image: "src/components/images/PortfolioImg.webp",
  tags: [TAGS.Astro, TAGS.Tailwind],
}
];
---

<h2 class="text-2xl text-[#A63446] w-full font-bold mt-14  max-w-[900px] mx-auto mb-4">PROYECTOS</h2>
<article class="grid grid-cols-1 sm:grid-cols-2 gap-6 justify-between -px-[4rem]">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <section class="w-full border-2 border-[#560000] rounded-xl flex flex-col justify-between overflow-hidden">
        <figure class="border-b-2 border-[#560000]">
          <img
            class="w-full rounded-tr-lg rounded-tl-lg"
            src={image}
            alt="Captura de la web de la pasteleria"
          />
        </figure>
        <div class="w-full flex-1">
          <h3 class=" pl-5 pt-2 font-black text-2xl">{title}</h3>
          <p lang="es" class=" px-5 pt-2 text-sm text-pretty text-black/70">{description}</p>

          <ul class="flex flex-wrap flex-row content-end items-end gap-1 w-full justify-center mt-6 mb-4 px-1">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex items-center rounded-full px-2 py-1 gap-x-2 text-xs ${tag.class}`}
                >
                  <tag.icon />
                  <p class="pt-1">{tag.name}</p>
                </span>
              </li>
            ))}
          </ul>
        </div>
        <ul class=" text-center flex w-full border-t-2  border-[#560000]">
          <li class="w-1/2 px-3 py-2 flex items-center  justify-center gap-4  hover:scale-105 transition duration-200">
            <a href={github} target="_blank">
              Ir al Github
            </a>
            <Github_SinBorde />
          </li>
          <div class="w-px border-1 border-[#560000]" />

          <li class="w-1/2 px-3 py-2 flex items-center justify-center gap-4 hover:scale-105 transition duration-200">
            <a href={link} target="_blank">
              <span class="">Ir a la Web</span>
            </a>
            <ArrowUpRight />
          </li>
        </ul>
      </section>
    ))
  }
</article>
